## Data Science Tools and Ecosystem

### *In this notebook, Data Science Tools and Ecosystem are summarized.*

## Author 
Erik
#### **Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
* Matplotlib
* SciPy
* Pandas

|Data Science Tools|
|----|
|Jupyter Notebook|
|R|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
Minutes = 200
Hours = Minutes/60
print(Hours)

3.3333333333333335